/* AUTHOR: RISHIRAJ BOSE */
* {
  margin: 0;
  padding: 0;
}

body {
  /*SOLARIZED*/
  background-color: #FDF6E3;
  color: #586E75;
  /*THIS IS TO PREVENT DISCREPANCIES DUE TO SCROLLING, DYNAMIC VIEWPORT HEIGHT*/
  height: 100dvh;
  min-width: 315px;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

/*LOGO AREA*/
.logo {
  height: 25vh;
  padding: 30px 20px 10px;
}

/*INTRO AREA*/
h1 {
  font-size: 3em;
  padding: 10px 20px;
}

p {
  font-size: 1.4em;
  padding: 10px 20px;
}

/*CONTENT AREA*/
.content {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

/*LINKS*/
.content a {
  /*I want the buttons to grow in length according to the size of the content area*/
  flex-grow: 1;
  /*<a> elements are inline by default, so changing display to block lets it take up the entire space from the content area*/
  display: block;
  text-decoration: none;
}

/*BUTTONS*/
.content button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2em;
  text-align: center;
  /*<button> elements are inline by default, so changing display to block lets it take up the entire space from the <a> elements*/
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  /*SOLARIZED*/
  background-color: #FDF6E3;
  color: #586E75;
  /*ACCENT COLOR*/
  border-color: #CC99CC;
  border-width: 4px;
  border-radius: 10px;
}

.content button:hover, .content button:focus-visible {
  background-color: #CC99CC;
  color: #FDF6E3;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}

/*I am disabling text-selection on the page for aesthetic reasons*/
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
