/* AUTHOR: RISHIRAJ BOSE */
* {
  margin: 0;
  padding: 0;
}

body {
  /*SOLARIZED*/
  background-color: #FDF6E3;
  color: #586E75;
}

div {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  padding: 200px 0px;
}

h1 {
  color: white;
  background-color: #CC99CC;
}

p {
  padding: 50px 0;
  font-size: 3em;
}

